<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804746209774-86kg2h6ov0gm1po4uju735rlhhen0gks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804746209774-86kg2h6ov0gm1po4uju735rlhhen0gks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804746209774-ivk4n1qfg60cnejvs0j5fd4ha33ardpk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9pBqEXt8vCLoe0-XzSVCRkcyI5Zy1L_8</string>
	<key>GCM_SENDER_ID</key>
	<string>804746209774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bls</string>
	<key>PROJECT_ID</key>
	<string>blsa-e25b5</string>
	<key>STORAGE_BUCKET</key>
	<string>blsa-e25b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804746209774:ios:510413dc4d789f270b86ff</string>
</dict>
</plist>